<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
</head>
<body>
    {% include "../components/_navbar.html" %}

    <div class="max-w-2xl mx-auto mt-16 bg-white shadow-xl rounded-lg text-gray-900">
        <div class="rounded-t-lg h-32 overflow-hidden">
            <img class="object-cover object-top w-full" src="https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="Background Image">
        </div>
        
        <div class="mx-auto w-32 h-32 relative -mt-16 border-4 border-white rounded-full overflow-hidden">
            {% if profile.profile_picture %}
                <img class="object-cover object-center h-32" src="{{ profile.profile_picture.url }}" alt="{{ user.username }}">
            {% else %}
                <img class="object-cover object-center h-32" src="{% static 'images/default_profile_picture.jpg' %}" alt="Default Profile Picture">
            {% endif %}
        </div>

        <div class="text-center mt-2">
            <h2 class="font-semibold">{{ user.username }}</h2>
            <p class="text-gray-500">
                {% if profile.bio %}
                    {{ profile.bio }}
                {% else %}
                    No bio available.
                {% endif %}
            </p>
        </div>
        
        <div class="p-4 border-t mx-8 mt-2">
            <a href="{% url 'edit_profile' %}" class="w-1/2 block mx-auto rounded-full bg-gray-900 hover:shadow-lg font-semibold text-white px-6 py-2 text-center">Edit Profile</a>
        </div>
    </div>
</body>
</html>
